[2016-04-09 15:27] sadsfae opened #1 "Switch to yum repo module when possible"
It's more efficient to switch to using the Ansible yum module where appropriate for repo management.

 http://docs.ansible.com/ansible/yum_repository_module.html

[2016-04-09 15:28] sadsfae opened #2 "Employ logic for systems > 128G of memory for heapsize allocation"
Systems with 128G of memory or more will incorrectly deploy a heapsize > 32GB, this causes known issues with elasticsearch.

https://www.elastic.co/guide/en/elasticsearch/guide/current/_limiting_memory_usage.html

[2016-04-11 11:17] sadsfae commented on #1
This is fixed here:
https://github.com/sadsfae/ansible-elk/commit/af1349cb12da59e6d98176550984f54cd715a949

[2016-04-11 11:17] #1 closed

[2016-04-11 11:18] sadsfae commented on #2
Line in question:
https://github.com/sadsfae/ansible-elk/blob/master/install/roles/elasticsearch/tasks/main.yml#L22

[2016-04-11 17:10] sadsfae commented on #2
This is now fixed in https://github.com/sadsfae/ansible-elk/commit/ecc40bada031788115d134ef4c806778ec8b39e8

If you have a system with 64G of memory or larger you'll get a 32G heapsize no matter what, and the ansible playbook will print out documentation links on further tuning.

[2016-04-11 17:10] #2 closed

[2016-04-20 05:16] portante opened #3 "Scaling ES instances might want to consider using min(1/2 available memory, 32g)"
The recommendations for ES are to use no more than 32 GB per instance (to avoid java large pointers), as you already have, but it is also recommended to leave 1/2 of the available memory to the page cache.  So on a 48 GB system, we might want to set the heap to 24GB.

In general this is `min(0.5 * physmem GB, 32 GB)`.

Are we relying on the Java defaults for any system under 64 GB?

[2016-04-20 05:20] portante commented on #3
Okay, I see this now in the tasks.  I'll close this issue, but it would be nice to just use a min() function to compute this once instead of having four stanzas in the file to look through to understand the final behavior.  Thanks!

[2016-04-20 05:20] #3 closed

[2016-04-20 07:23] portante opened #4 "Consider adding curator"
Have you considered adding curator?

See: https://review.openstack.org/gitweb?p=openstack/instack-undercloud.git;a=commitdiff;h=398f9180d27565ab54fbebe4989498129c1f9f38

[2016-05-06 14:11] sadsfae opened #5 "Add support for nginx to listen on non-standard ports"
Support having nginx listen on non-standard ports, for example if you wanted to spin up a quick ELK deployment on a triple-o deployed OpenStack undercloud the current setup will conflict.

[2016-05-06 14:43] sadsfae commented on #5
This is now fixed here:
https://github.com/sadsfae/ansible-elk/commit/85359928ac4fc32498e9fd12154f24173ce9acd9

[2016-05-06 14:43] #5 closed

[2016-05-06 14:52] sadsfae commented on #4
Hey @portante that could work, the main focus of this was just to install ELK and filebeat and ongoing maintenance tools weren't in scope.  I will leave this open because I think it's a good idea and I do see it packaged in RPM so can definitely get this included.

https://www.elastic.co/guide/en/elasticsearch/client/curator/current/installation.html

[2016-06-08 22:57] sadsfae opened #6 "Add fluentd option for logging backend"
Add an option for fluentd logging backend, with the default to still use elasticsearch like:

[code]

[2016-06-16 19:15] sadsfae commented on #6
This functionality is now added via:

 https://github.com/sadsfae/ansible-elk/commit/32063dbfe326b6f680749eb11c859e8b912fb2fa

[2016-06-16 19:15] #6 closed

[2016-06-20 09:41] sadsfae commented on #4
hey @portante this is in place now via the following commit:
https://github.com/sadsfae/ansible-elk/commit/b8e0bcf06ad53b5c718e68ccd25f6295ed998c04

You need to set `es_curator_tool: install` in `install/group_vars/all.yml` to have curator installed via RPM now.

[2016-06-20 12:59] #4 closed

[2016-06-23 00:01] ShunEguchi opened #7 "The conditional check '(es_curator_tool == 'install')' failed"
The playbook fails with the following error since the parameter of "es_curator_tool" is not specified in group_vars by default.

[code]

Adding such parameter in group_vars/all.yml workaround the problem.

Please advise.

[2016-06-23 01:30] ShunEguchi opened #8 "iptables_tcp5044_exists can be replaced with iptables_tcp{{logstash_syslog_port}}_exists"
Please be aware of that this issue is harmless and can be overlook. I just wanted to share it since this playbook is super-nice ;)

In [install/roles/logstash/tasks/main.yml](../blob/master/install/roles/logstash/tasks/main.yml), Ansible checks if logstatsh syslog port was blocked by iptables.
[code]

Here, although Ansible stores the value as `iptables_tcp5044_exists`, this registry is technicall

[2016-06-23 13:16] sadsfae commented on #7
Hi @ShunEguchi thanks for reporting this, it's fixed now - looks like I didn't update the `elk.yml` to use the new conditional check which was put in place recently.

https://github.com/sadsfae/ansible-elk/commit/6f00f6b003fdd8fcb5aeab68f85680c73463c909

[2016-06-23 13:16] #7 closed

[2016-06-23 13:23] sadsfae commented on #8
Thanks for noting this @ShunEguchi.  I had problems with Ansible properly performing the right multi-conditional check here:

https://github.com/sadsfae/ansible-elk/blob/master/install/roles/logstash/tasks/main.yml#L156

The issue is that if I used the variable `iptables_tcp{{logstash_syslog_port}}_exists` Ansible does not extrapolate that correctly to turn into `iptables_tcp5044_exists` on that l

[2016-06-23 15:56] shuneguchi commented on #7
Thanks for your prompt response! Plus, thanks for sharing this wonderful playbook. It totally worked!!

[2016-06-23 16:00] shuneguchi commented on #8
Thanks for this comment, @sadsfae. Since this issue is harmless and can be ignored, I am going to close this out.

[2016-06-23 16:00] #8 closed

[2016-07-22 20:37] sadsfae opened #9 "modify nginx dir structure as upstream has changed"
Upstream nginx has changed their config layout so it doesn't create ``/etc/nginx/conf.d``` but we use that lsb standard for configs (and don't plan on changing it).  Currently nginx playbook run fails because of this.

[2016-07-22 20:39] #9 closed

[2016-08-09 16:57] amoczygemba opened #10 "Ubuntu support"
Could you please add an ansible script for ubuntu?

[2016-08-31 08:19] dbertha commented on #10
I'm also interested in debian compatibility !

[2016-09-02 11:38] sadsfae opened #12 "use get_url module instead of curl for filebeat"
You can replace the usage of curl with the get_url Ansible module here:

https://github.com/sadsfae/ansible-elk/blob/master/install/roles/filebeat/tasks/main.yml#L46

[2016-09-02 12:06] sadsfae opened #13 "use url module instead of copying JSON template around"
After some testing Ansible bug #265 seems fixed, so you can just use the url module for copying the JSON filebeat index template into Elasticsearch.

See:
https://github.com/sadsfae/ansible-elk/blob/master/install/roles/logstash/tasks/main.yml#L103

[2016-09-02 12:26] #12 closed

[2016-09-02 12:26] #13 closed

[2016-09-05 14:18] JSzaszvari commented on #10
+1 For Debian

I'll take ubuntu as well.

[2016-09-13 13:19] sadsfae commented on #10
Thanks for filing this.  I'd like to extend Debian/Ubuntu functionality into ansible-elk but it's fairly low-priority given I'm working on a whole lot of other stuff.  Ideally we'd just build in OS detection using Ansible facts.  I don't know when I'll have time to work on it but I think it's a great idea and something I will plan for in the future.

[2016-10-07 10:31] sadsfae opened #14 "Make kibana htpasswd credentials a variable"
It would be useful to make the htpasswd auth used for Kibana to be a variable.

[2016-10-07 10:34] #14 closed

[2016-11-24 19:29] mkscala opened #16 "Elastic 5.0 support"
Does this support the Elastic 5.0 new stack ?

[2016-11-29 20:28] cloudanddevsecops commented on #16
I have the same question, looking forward to the answer.

[2016-12-05 23:22] sadsfae commented on #16
Thanks for filing this, I haven't tested this yet with Kibana 5.x - I will do so and report back here, hopefully with a commit.

[2016-12-06 00:02] mkscala commented on #16
Any timeline for the Ansible Playbook? I have tested the Docker Compose version for Elastic 5.0.I can share if needed.

[2016-12-20 22:34] sadsfae commented on #16
I took a stab at this today, had no issues with 5.1 ES and Kibana but Logstash doesn't seem to be working correctly.  5.1 LS was released recently and their Github [may have some related issues.](https://github.com/elastic/logstash/issues).  My issues were around logstash not fully starting, nothing in log messages with debug turned on and the beats filter not seeming to full start/listen.

I have

[2016-12-21 08:40] kaneda-fr commented on #16
Good to see you are starting working on 5.1 ;)

I have 5.1 deployed manually and working fine I was planning to do  ansible part over the next couple of days.

I'm only working with beats for now and the config file I created is:

input {
  beats {
    port => 5044
    ssl => true
    ssl_certificate => "/etc/pki/tls/certs/logstash-forwarder.crt"
    ssl_key => "/etc/pki/tls/private/logstash-forwa

[2016-12-21 13:08] sadsfae commented on #16
That's great @kaneda-fr.  I made no modifications besides the following:

- Update repositories to the latest 5.1
- Update the logstash binary where it's referenced to seed ES initially with local data here:

https://github.com/sadsfae/ansible-elk/blob/master/install/roles/kibana/tasks/main.yml#L25

It looks like our beats config is mostly the same so that doesn't seem to be an issue.  [Testing th

[2016-12-21 16:30] kaneda-fr commented on #16
ok thanks.
I can share my *beat config if that can help.

[2016-12-21 16:32] kaneda-fr commented on #16
ok Thanks,

I can share my beat config if you need.
Testing syslog is next on my list, I'll let you know how this goes.

[2016-12-21 20:15] mkscala commented on #16
These 2 below links has good infor on filebeat and logstash.
 I wanted to use Filebeat->Elastic-Kibnan, since logstash is for heavy transformation. I don't have much transformation so trying Filebeat. I will test your Elastic 5.0 Ansible this week

https://www.elastic.co/blog/structured-logging-filebeat
https://fauie.com/2016/02/02/installing-filebeat-to-ship-data-to-elasticsearch/

[2016-12-21 20:21] mkscala commented on #16
@kaneda-fr, hi did you use Filebeat->Logstash->Elastic-Kibana ?
or Filebeat->Elastic-Kibnan ?

I wanted to just index a json file into Elastic using Filebeat to Elastic, will the below yml work ?
 more filebeat.yml
filebeat.prospectors:
- input_type: log
  paths: ["/home/data/test.json"]
  json.message_key: event
  json.keys_under_root: true

output.elasticsearch:
  hosts: ["xxxxxxxx:9200"]
  temp

[2016-12-21 23:05] kaneda-fr commented on #16
@mkscala, I'm using Logstash and  going from filebeat straight into elastic works too.

[2017-01-02 14:25] mkscala commented on #16
@sadsfae , any luck on anisble roles for elastic 5  & greater version

[2017-01-11 14:35] Passpes opened #18 "EFK stack for high availability cluster"
Hi,
I deployed ansible-efk (using fluentd) and it works perfectly, but now I want to expand this configuration to multi-nodes setup for high availability reasons.
Is there any way to do it using this ansible-elk project ?

[2017-01-25 06:51] lakshmi-kannan opened #20 "ansible-galaxy compatibility"
I added your role to requirements.yml and tried to install the role via galaxy but the repo is not galaxy compatible. Specifically, it's missing a meta/main.yml file. A sample is here: https://github.com/geerlingguy/ansible-role-ntp/blob/master/meta/main.yml.

[code]

I can open a PR. Just let me know if this is something you are willing to consider.

[2017-02-13 04:18] canhduonguk commented on #18
I am not sure about Fluentd but I have the same need for a high availability cluster setup. My solution is that I split the setup scripts into three role groups: Elasticsearch, Logstash, Filebeat.

Since I use Filebeat for sending logs to Logstash servers. Thanks to the backpressure-sensitive protocol. it won't overload my Logstash servers, so high availability is maintained.

I hope this helps.

[2017-02-13 19:56] nautilus28 opened #21 "Important System Configuration"
The following settings must be addressed before going to production mode:
- Set JVM heap size (done)
- Disable swapping
- Increase file descriptors
- Ensure sufficient virtual memory
- Ensure sufficient threads

https://www.elastic.co/guide/en/elasticsearch/reference/current/system-config.html

I would love to have these configuration in the scripts.

Thanks for this amazing setup.
Canh

[2017-02-16 11:41] sadsfae commented on #16
@mkscala I've worked on this for a good few hours yesterday and today, something is still wrong with ```logstash 5.2.1``` beats plugin, either via the way it's being deployed or some other aspect of how SSL/TLS verification is done now.  I'm still working on it.  I can get everything working/listening with the following issues:

- very very slow startup time, around 3-5minutes or more
- ~~beats pl

[2017-02-16 17:07] sadsfae commented on #16
Update here, I have this all working now manually, I was missing some directives in ```filebeat.yml``` but it's all fine now.  I am still concerned about the slow startup time with ```logstash-5.2.1``` however but it could just be my testing VMs.  I will most likely push a 2.4 series branch of this playbook for folks who still want 2.4 support as it works well, and the changes required to go to EL

[2017-02-16 20:06] #16 closed

[2017-02-23 00:16] sadsfae commented on #20
Hi @lakshmi-kannan, you can access the 5.2.1 (master branch) galaxy playbook here:

https://galaxy.ansible.com/sadsfae/ansible-elk/

[2017-02-23 00:28] sadsfae commented on #20
I've also made a separate repo for the 2.4 series here:

https://galaxy.ansible.com/sadsfae/ansible-elk-2.4/

[2017-02-23 00:28] #20 closed

[2017-02-23 00:33] sadsfae commented on #18
Thanks for filing this, I don't have any immediate plans to allow a multi-node setup yet for ansible-elk and provide the option for deploying on additional nodes.  I am going to leave this open and when time allows work towards getting this option in place.

[2017-02-25 20:36] portante opened #22 "Consider supporting JournalBeat"
See https://github.com/mheese/journalbeat.

[2017-03-02 19:05] sadsfae commented on #22
Thanks for filing this @portante looks useful and I will work on adding it.

[2017-03-08 05:21] lakshmi-kannan commented on #20
Thank you!

[2017-03-15 00:17] mbrost commented on #21
Hey @nautilus28 thanks for addressing these issues. Would these need to be configured before adding the host or after running the second playbook?

[2017-03-15 17:24] canhduonguk commented on #21
@mbrost I think they should be done by using different tasks in specific roles of elasticsearch deployment.

[2017-05-07 10:22] ranjeetranjan opened #23 "Fail to Load filebeat JSON index template"
TASK [logstash : Load filebeat JSON index template] ***********************************************************************************************************************************************************************
fatal: [192.168.133.163]: FAILED! => {"changed": false, "content": "", "failed": true, "msg": "Status code was not [200]: Request failed: <urlopen error [Errno 111] Connection refu

[2017-05-25 06:45] ikerib commented on #23
+1

[2017-05-28 20:34] ranjeetranjan opened #24 "Please include X-Pack"
Please include X-Pack too in this ELK

[2017-05-30 18:04] ranjeetranjan opened #25 "Getting error on client getsockopt: connection refused"
@sadsfae

ERR Connecting error publishing events (retrying): dial tcp host:5044: getsockopt: connection refused

[2017-07-06 12:30] lime-red commented on #23
For me, this happened when elasticsearch was still restarting.  By the time we reached the filebeat index task, elasticsearch had not yet had a chance to start listening for the request, so this task fails.

I changed the task to this and had some success:
[code]

@sadsfae would you welcome a PR for this?

[2017-07-28 08:17] Pengran1 opened #26 "Failure to check for elasticsearch index"
Hello again

 I already tried to disabled **firewalld** and **iptables** services before retrying a fresh installation, but still, this problems come up.

“TASK [kibana : Check elasticsearch index for content] ****************************
fatal: [192.168.2.181]: FAILED! => {“changed”: false, “content”: “”, “failed”: true, “msg”: “Status code was not [200]: Request failed: “, “redirected”: false, “

[2017-07-29 21:04] sadsfae commented on #26
Thanks for filing this, let me see if I can reproduce this and get a fix in if so.

[2017-07-29 22:09] sadsfae commented on #26
@Pengran1 I was unable to reproduce this on a set of CentOS7 VMs (one client, one server).

(I am using 8G memory, 4vcpu for my ELK/EFK VM).

I suspect your ELK/EFK machine might be underpowered?  I have noticed that there's a performance hit in 5.x ES (and especially logstash) that I have not experienced in the 2.4 series.

I have committed a fix to wait for ES to be available before checking for

[2017-07-29 22:11] sadsfae commented on #25
@ranjeetranjan this would occur if you don't have TCP/5044 open and listening on your ELK/EFK host, check that it's open to the world and listening via ```netstat -antp | grep 5044```

One issue I have seen with 5.x series is that logstash is very heavy on resources, my testing ELK/EFK VM has 8G memory and 4vcpu (updated requirements in README).

You might ensure your ELK/EFK has the resources nee

[2017-07-29 22:12] sadsfae commented on #23
@lime-red absolulely.  Please send a PR or I'm happy to wrap this up and commit it and give you credit - whatever is easier for you.  Thanks!

[2017-07-29 22:14] sadsfae commented on #18
I don't want to lead anyone on here that might expect multi-node support, I don't have the time to maintain the ELK/EFK outside of a single-node and multi 2.4 / 5.x+ (with focus being on 5.x) right now.  I am going to leave this open anyway but I don't expect to have time to expand beyond the single node at this time.

If this changes I'll update here.

[2017-07-29 23:05] sadsfae commented on #22
@portante got a chance to look at this again, it seems shipping go libs/binaries isn't too ideal but I found a maintained COPR repo here:

https://copr.fedorainfracloud.org/coprs/bcdonadio/journalbeat/

I've got this working but still need a valid ```journalbeat.template.json``` to ship, according to an issue filed recently that's still in the works will wait on that to be available from the autho

[2017-07-29 23:16] sadsfae commented on #21
I haven't forgotten about this, I am finding time here and there to solve any open issues or RFE that people open (thanks for opening this!).  I  see this sort of enhancement check becoming more important as the 5.x series has become much more demanding - people running this in a VM really need at least 6-8G of memory now for example or things time out.

I don't have an ETA but hope to have more t

[2017-07-30 01:50] sadsfae commented on #24
Hello @ranjeetranjan I've got a patch to add support for installing X-Pack for you.

You'll need to set these settings in ```install/group_vars/all.yml``` for the x-packs you want installed.
[code]

[2017-07-30 01:58] #24 closed

[2017-07-30 14:41] sadsfae commented on #25
@ranjeetranjan I've put in a TCP check for TCP/5044 for logstash for good measure here, this should help.

[2017-07-30 15:17] sadsfae opened #27 "X-Pack requires additional security for content checks"
To remain fully idempotent we need to modify content and service checks for Kibana, Elasticsearch and Logstash.

[2017-07-30 15:53] #27 closed

[2017-08-01 10:22] lime-red commented on #23
Thanks!  I haven't done a PR on Github before and I'm keen to learn.  Will do it myself so I can get the experience.

[2017-08-02 16:33] hatdropper1977 opened #28 "Failed to connect to host via ssh"
I cloned the project and edited hosts as follows
[code]
I edited group_vars/all.yml to include x-pack
[code]
If I run the script I get an error:
[code]

[2017-08-14 14:04] KnechtionsCoding opened #31 "Need check for libselinux-python"
Ran this playbook against a minimal CentOS 7 install and it didn't do a check for the libselinux-python package. Failed under task: [elasticsearch : Copy elasticsearch yum repo file]. I wrote a quick fix with a register that I will be testing to confirm that it works. See below for that fix.

- name: Check for libselinux-python package
  yum: name=libselinux-python*
  state: latest
  become: true

[2017-08-22 14:13] sadsfae opened #33 "es_listen_external should be reflected in elasticsearch.yml"
We currently support the option ```es_listen_external``` in ```install/group_vars/all.yml``` which opens firewall rules for TCP/9200 however our Elasticsearch still needs ```network.host: 0.0.0.0```

If you opt to change this after your ELK is already installed you'll need to bounce the elasticsearch service manually.

[2017-08-22 14:16] #25 closed

[2017-08-22 14:19] sadsfae commented on #28
If you're using localhost you need the following in your inventory ```hosts``` file instead:

[code]

Try that and see if it works, when using Ansible against your own host that's required.

[2017-08-22 14:55] #33 closed

[2017-08-22 19:46] sadsfae commented on #23
Closing this out now, thanks to @lime-red for the PR.

[2017-08-22 19:46] #23 closed

[2017-08-22 19:47] sadsfae commented on #26
Checking in here, some fixes have gone in to put in waits for ES to become available.  Can you confirm this fixes the issue you've reported please?

[2017-08-23 15:51] #31 closed

[2017-08-28 15:21] KnechtionsCoding opened #34 "Add explicit variable file declaration"
I was doing some work with this playbook and modifying it and discovered that it was erroring out when there were more variable files defined in other places. As such I put in an explicit variable file definition so that ansible took the correct vars file. If you are interested the elk.yml file now looks something like this:
[code]
This seems like a quality of like upgrade that allows for the vars

[2017-08-31 18:51] KnechtionsCoding opened #35 "Clean Up the Filebeat Configuration"
I have a version of the filebeat config that has been cleaned up so that logstash is under the logstash and elasticsearch under the elasticsearch, are you interested me merging that?

[2017-08-31 18:54] KnechtionsCoding opened #36 "Add MetricBeat, Packetbeat, Topbeat to elk-client installation"
I needed to be able to install MetricBeat, PacketBeat, TopBeat and the other beats offered by Elasticsearch and so I added those in a scalable way, would you like a PR for those? Or do you not want to support those?

I moved the repo installation for the client into a dependency role called elk_client so that the elasticsearch.co repo is installed no matter the beat you specify and then it adds th

[2017-09-06 15:18] sadsfae commented on #28
Closing this out, if the above doesn't work you can also experiment with the Ansible ping module which tests SSH connectivity and general "will this host work" sort of tests.

http://docs.ansible.com/ansible/latest/ping_module.html

[2017-09-06 15:18] #28 closed

[2017-09-06 15:32] #34 closed

[2017-09-06 15:33] sadsfae commented on #35
Hi @KnechtionsCoding sure I'd love to see it.

[2017-09-06 15:34] sadsfae commented on #26
Closing this out, please re-open after you've tried the latest fixes that have been merged if it's still an issue for you.  Thanks for filing this issue.

[2017-09-06 15:34] #26 closed

[2017-09-06 15:37] sadsfae commented on #36
Hey @KnechtionsCoding I'm happy including support for these but I want to keep the same structure of elk / elk-client as close as possible.  I'd prefer to enable and disable things in vars and then jinja2  and var check around them like what's done for the X-Pack stuff:

https://github.com/sadsfae/ansible-elk/blob/master/install/group_vars/all.yml#L63

Happy with any PR you want to work on here an

[2017-09-06 16:00] knechtionscoding commented on #36
@sadsfae Not a problem, I'll rewrite them to those standards then and submit a new PR for it.

[2017-09-06 16:07] knechtionscoding commented on #35
This is what it looks like. Makes it a little easier to read when trying to configure it.

[code]

[2017-09-06 16:52] knechtionscoding commented on #36
@sadsfae Just submitted the updated PR to you. Take a look and see if that's more inline with what you want.

[2017-09-08 00:00] sadsfae opened #42 "Add CentOS/RHEL6 support"
There's work via @KnechtionsCoding to start adding support for older EL6 distributions.  Not promising anything but let's leave this here to track full compatibility.

[2017-09-08 00:04] sadsfae commented on #35
Hey let's close this and merge into your main PR if it makes sense or ditch it.

[2017-09-08 00:04] #35 closed

[2017-09-12 14:48] KnechtionsCoding opened #43 "ElasticSearch 5.5 not updating to 5.6"
There appears to be an issue with the repo that isn't updating elasitcsearch, even though it is updating the Kibana version. Currently kibana is on 5.6 and elasticsearch is on 5.5.2.

Potential solution is to remove the repo file, and use geturl to download the RPM and install based on a variable elk_version.

Thoughts @sadsfae ?

[2017-09-12 15:20] knechtionscoding commented on #43
This would look something like this instead:

`- name: Install Logstash RPM
    yum:
        name: https://artifacts.elastic.co/downloads/logstash/logstash-{{ elk_version }}.rpm
        state: present
`

[2017-09-12 21:09] sadsfae commented on #36
This is resolved in:

https://github.com/sadsfae/ansible-elk/pull/41

[2017-09-12 21:09] #36 closed

[2017-09-12 21:11] sadsfae commented on #43
Hey @KnechtionsCoding, are we sure that it's just not a matter of Elastic being behind on their repo?  Yes that would work as well but I'd prefer to first see if it's just a temporary problem (doesn't seem to affect deployment via Ansible) instead of using ```get_url``` as a workaround (Elastic recommends repo installation for EL).

[2017-09-13 12:15] knechtionscoding commented on #43
So the reason it came up was because I tried running a deployment and it picked up the 5.6 version of Kibana but not Elasticsearch. I'd assume that Elastic would update both.

We can wait and see if this is a temporary issue, I just wanted to let you know because I ran into the problem yesterday.

[2017-09-13 12:32] KnechtionsCoding opened #46 "Curator Setup"
Issue for tracking the setup of curator. Related to PR #45

Adding in the default curator setup didn't seem too complicated. I got it up and running on a test VM. It was only more tasks in the curator/tasks/main.yml file. The configs are just default from Elastic.

[2017-09-13 13:59] KnechtionsCoding opened #47 "Need to add import of dashboards and such for each beat"
I didn't add the import of dashboards for each beat. That needs to be added. Should be as simple as reusing the import code you have for Filebeat.

[2017-09-13 17:49] knechtionscoding commented on #46
Closing based on PR #45

[2017-09-13 17:49] #46 closed

[2017-09-14 12:39] knechtionscoding commented on #10
@sadsfae I figured I would start on this now, as I need to support some debian based systems. I figured I would start by supporting beats installation on them and then extend the ELK installation to be able to be installed on Ubuntu/Debian. Seem like a good road map?

[2017-09-14 14:30] knechtionscoding commented on #10
See PR #48 for more info on the Ubuntu/Debian support for beats installation. Will be looking into ELK installation support.

[2017-09-14 16:40] knechtionscoding commented on #18
@sadsfae I just submitted a PR for multi node elasticsearch support. I don't know enough about Fluentd to be able to support that, but if you can support the fluentd side, I can handle the ELK side. #49 is the PR for it.

[2017-09-14 18:21] KnechtionsCoding opened #50 "Refactor into not requiring root to be remote user"
So I'm moving towards using this without allowing it to be root. I'm working on adding the correct become statements to work without having the server be root@server. Opening issue so we can track the conversation.

[2017-09-15 18:46] KnechtionsCoding opened #51 "Order of Operations - Cert Generation"
@sadsfae Is there a reason for the cert generation to take place in the kibana role rather than the logstash role? I moved it to the logstash role in my own working copy, so that each role could be logically separate, but if there was a technical reason for it I'd love to know.

[2017-09-18 15:59] CatherineMadden opened #52 "I’d like to get in touch with you"
Hi Will,

I would like to say thank you for being involved in Open Source and discuss something regarding the UXDX conference which takes place in the RDS on October 5th.

Could you please send me your email address or drop me a message at catherine@uxdxconf.com?

Thanks in advance,
Catherine

[2017-09-18 16:12] sadsfae commented on #52
Hi @CatherineMadden you can contact me directly at https://hobo.house.  I'll be out of the country during this timeframe but thanks for reaching out.

[2017-09-18 16:12] #52 closed

[2017-09-18 16:15] sadsfae commented on #51
@KnechtionsCoding I placed most of the ancillary meta functionality inside Kibana as it's one of the last roles to fire off.  Sometimes it took a while for LS to fully instantiate on lower-spec machines so this was more of an ordering hack than anything else.  I think it's probably safe to move things into the areas they are more related to as needed as there are now proper checks and timeouts/wai

[2017-09-18 16:16] sadsfae commented on #43
@KnechtionsCoding I'm traveling internationally so my responses here are hit and miss.  Good catch on this, let's see what happens.  I'll fire off another local VM set of tests this week to see if it "fixes" itself.

[2017-09-18 16:17] sadsfae commented on #42
After some discussions around this I don't think we're going to support CentOS6/RHEL6.  It's just too much effort for something released in 2010.  Going forward we will most likely only focus on CentOS/RHEL/Fedora distributions.

[2017-09-18 16:17] #42 closed

[2017-09-18 16:30] sadsfae commented on #50
@KnechtionsCoding I think it's a reasonable assumption that you'll need root for the ELK tasks, especially given all the registers and checks in the firewall code and complexity in general.  I'm not against elevation-where-needed here however if it's useful for certain scenarios.

Once ```become: true``` is fanned out It might be easier for people to just adjust this in ```install/elk.yml``` via t

[2017-09-18 17:44] knechtionscoding commented on #51
Okay, awesome. I've started moving those out, but I'll keep looking at it.

[2017-09-18 17:47] knechtionscoding commented on #50
Well, you at least need sudo. Not sure you need to be the root user. But I'm working on testing it and seeing what the effects are. I use a service account for Ansible to run, so I was just looking to elevate where needed, and when elevating using become:true. I still manage it by changing the remote user, but it allows for better compliance and brought it into best practices (i.e. not using root

[2017-09-18 17:49] knechtionscoding commented on #43
@sadsfae Not a problem, I'm just trying to contribute back upstream what I'm improving for the company so it's useful to others. I'll run a set later this week.

[2017-09-20 18:00] KnechtionsCoding opened #53 "When Installing Packetbeat LIBPCAP is required"
When Packetbeat is selected for installation libpcap should be installed. Currently it isn't. Will add PR to support RHEL/CENTOS and Deb based systems.

[2017-09-20 18:28] knechtionscoding commented on #53
I don't have a clean version to do a PR for. So I'll add the ansible here for you:

`- name: Install libpcap for packetbeat use (Centos)
  yum:
    name: libpcap
    state: present
  become: true
  when:
    - ansible_distribution == 'CentOS'
    - (ansible_distribution_major_version == "6") or (ansible_distribution_major_version == "7")

- name: Install libpcap for packetbeat use (Debian)
  apt:

[2017-09-29 16:40] alnash28 commented on #47
I thought the reuse code was suffient

[code]
However does this assume prior knowledge of [How to Configure Flilebeat Dashboards?](https://www.elastic.co/guide/en/beats/filebeat/master/configuration-dashboards.html)

[2017-09-29 16:43] knechtionscoding commented on #47
@anash28 Sorry, I added this to import the new beats that I added support for. This includes, heartbeat, packetbeat, metricbeat. The beats-dashboard-master doesn't include those because it was built for the filebeat only beat. So, we really need to add the new zip file, and then test the import. That's it. I just haven't had a chance because I've been busy the last two weeks.

[2017-09-29 18:00] alnash28 commented on #51
@KnechtionsCoding @sadsfae I have started moving this out due to the potential need of running ELK on an m4.large OR m4.xlarge EC2 instance within AWS. Any pointers?

[2017-09-29 18:02] alnash28 commented on #21
@sadsfae Would the changes here be beneficial for  m4.large OR m4.xlarge EC2 instance within AWS as well?..

[2017-09-29 19:01] anash28 opened #55 "Filebeat: Can someone point me in the right direction for understanding Filebeats functionality a little better"
Hello @sadsfae @KnechtionsCoding

I have been tinkering with this project for a few days. However, I dont have a decent understanding of the usage of filebeat [here](https://github.com/sadsfae/ansible-elk/blob/master/install/roles/filebeat/tasks/main.yml). Can you provide further documentation for LearnOps?

Thank you

[2017-10-02 12:17] knechtionscoding commented on #55
@anash28

Filebeat is a program installed on a client computer that reads from a file and ships logs to your logstash instance. It's configured via a YAML file and can read any log file you throw at it. More reading here: https://www.elastic.co/products/beats/filebeat

[2017-10-02 12:19] knechtionscoding commented on #21
@anash28 These changes are recommended by Elastic and should be implemented in any instance. The issue, primarily, is the JVM running out of memory and crashing your shards.

[2017-10-02 12:20] knechtionscoding commented on #51
@anash28 If you'd like some pointers, feel free to open a new issue and I'll respond there, this one should be limited to the order of operations conversation.

[2017-10-03 13:39] alnash28 commented on #51
Understood. Thank You

[2017-10-06 17:21] acomisario opened #56 "is ansible 1.9.6 supported ?"
Hi.

Trying to use on RHEL 7 using ansible 1.9.6.
The task

TASK: [logstash | Load filebeat JSON index template] **************************

Gives a timeout, if i execute this with Ansible to keep temporary files, and execute the ansible resulting python the error is as follow:

python -tt /root/.ansible/tmp/ansible-tmp-1507310163.34-85406240056390/uri
Traceback (most recent call last):
  File "/r

[2017-10-06 18:23] acomisario opened #57 "logstash ports on kibana role are FIXED and not using group_vars/all.yml"
yes, file install/roles/kibana/tasks/main.yml

uses port 5000 and 5044 istead of using

logstash_syslog_port
logstash_localsyslog_port

from group_vars/all.yml

[2017-10-06 19:12] knechtionscoding commented on #57
@acomisario I just fixed that for you.

[2017-10-09 12:53] acomisario commented on #57
Thank you!
question, how can i contribute ? doing pull requests does work ? i mean ... do they get reviewed ?
bes.t

[2017-10-10 00:14] knechtionscoding commented on #57
@acomisario Yes. @sadsfae is out of the country right now so he hasn't had a chance to review any right now. Feel free to contribute through pull requests. If you have questions let me know and I'll do my best to answer them.

[2017-11-01 09:33] sadsfae commented on #57
@KnechtionsCoding @acomisario thanks for filing this, I'm back from some extensive traveling now.  One thing I want to do is rebase the firewall stuff into it's own optional role.

Reviewing the PR for this now.

[2017-11-01 09:47] sadsfae commented on #57
This is resolved now.

[2017-11-01 09:47] #57 closed

[2017-11-01 09:51] sadsfae commented on #53
If ```libpcap``` is needed then the packetbeat RPM .spec should properly include it as a package dependency.  I'm not against adding it however.

[2017-11-01 09:55] #53 closed

[2017-11-01 09:56] #55 closed

[2017-11-01 09:59] sadsfae commented on #56
I recall this working fine in the 1.9 series but have added some ```urllib``` specific timeout / service checks since then and frankly haven't tested it.

```Ansible 2.4.0.0-5.el7``` ships with CentOS7, are you on something older than that?

[2017-11-01 10:10] #51 closed

[2017-11-01 10:11] sadsfae commented on #43
@KnechtionsCoding looks like this fixed itself upstream, as of a playbook run just now it reports ```elasticsearch-5.6.3-1.noarch``` on CentOS7.

[2017-11-01 10:11] #43 closed

[2017-11-01 10:15] sadsfae opened #59 "Break out Firewall into Separate Role"
While I still believe that we need to support proper firewall mechanisms (detection, test, don't clobber if exists, apply) it doesn't necessarily need to be put into each service role.

This will cover branching out the firewall code into its own Ansible role.

[2017-11-01 13:38] acomisario commented on #56
Yes, using 1.9.6 on RHEL 7.3

[2017-11-06 16:45] gmarziou opened #60 "Issue with IP address in subjectAltName in /etc/pki/tls/openssl.cnf on CentOS"
Hello,

On CentOS 7, when subjectAltName contains an IP address it must uses `IP:` prefix otherwise openssl fails with this error:

[code]

To make it work, value in  `/etc/pki/tls/openssl.cnf` should be like below:

[code]

It impacts 2 roles [fluentd](https://github.com/sadsfae/ansible-elk/blob/master/install/roles/fluentd/tasks/main.yml#L59) and [logstash](https://github.com/sadsfae/ansible-elk

[2017-11-07 15:26] sadsfae commented on #56
Ok, by all manner this should work fine as it's what I test with, I started off with EL7.2 and now test currently against EL7.4.  The current version of Ansible in EL7 is ```2.4.0``` are you limited to ```1.9.6``` for some reason and could you test the former to see if it's some kind of regression?

[2017-11-07 15:29] sadsfae commented on #60
Thanks for filing this @gmarziou let me test this and submit a patch.

[2017-11-07 15:57] #60 closed

[2017-11-07 16:45] gmarziou commented on #60
Thanks

[2017-11-15 15:44] KnechtionsCoding opened #61 "Multi Node Support for ElasticSearch"
Do we want to support Multi-node installations for Elastic Search? Because I can make the PR, including the updating the FW role that was just added, but only if you want to have that functionality.

it would involve separating out each of the roles on the server side into Kibana, logstash, elasticsearch. It'd also involve separating out the FW, or at least delegating them to the correct place usi

[2017-12-10 19:57] sadsfae commented on #50
I can see the importance in this now, having recently deployed some stuff on AWS as the ```ec2-user```.  I've got a patch in shortly to provide the option of setting ```ansible_system_user:``` (default: root) in ```install/group_vars/all.yml```.  Every task now has a ```become: true``` statement which doesn't hurt anyways, but should work with non-root users (who can sudo on the remote system) in

[2017-12-10 20:08] #50 closed

[2017-12-10 20:09] #56 closed

[2017-12-18 18:09] mrafieee opened #62 "ELK-server not found"
FAILED! => {"failed": true, "msg": "The task includes an option with an undefined variable. The error was: 'elk_server' is undefined\n\nThe error appears to have been in '/vagrant/ansible-host/roles/elk_client/tasks/main.yml': line 30, column 3, but may\nbe elsewhere in the file depending on the exact syntax problem.\n\nThe offending line appears to be:\n\n\n- name: Install ELK server SSL client c

[2017-12-18 18:18] knechtionscoding commented on #62
Hi @mrafieee

Per the Read Me you need to run the elk_client command as follows: ansible-playbook -i hosts install/elk-client.yml --extra-vars 'elk_server=X.X.X.X' That will define the variable in question. Without that definition you cannot install the beats. Can you share the command you ran?

[2017-12-18 19:07] mrafieee commented on #62
passed it through all.yml and it is passing now thanks for the quick response

[2017-12-18 21:08] mrafieee opened #63 "asnsible variables not found"
Running ansible 2.4.1.0

ansible-playbook elk.yml -i inventory/local -b -v

[code]

[2017-12-18 21:12] knechtionscoding commented on #63
Did it gather facts prior? Both of those variables are Ansible specific variables. What is the complete output of the error?

[2017-12-18 21:17] mrafieee commented on #63
``Facts gathered and passed
...
**gather_facts: yes**
  vars_files:
    - group_vars/all.yml
  roles:
...
[code]

[2017-12-18 21:18] knechtionscoding commented on #63
What's your inventory like? If you are trying to run it against local host you probably have to delegate to local host or it gets confused.

[2017-12-18 21:21] mrafieee commented on #63
[code]

[2017-12-18 21:44] knechtionscoding commented on #63
Are you running these against Containers? Or VMs? Is IPRoute installed? I found [this](https://github.com/metacloud/molecule/issues/836) issue with containers, but a minimal installation might have the same issue. The resolution there was for iproute to be installed.

[2017-12-18 21:55] mrafieee commented on #63
it was against vms, my issue resolved by gathering facts.

[2017-12-22 13:10] #63 closed

[2017-12-22 13:10] #62 closed

[2017-12-22 13:23] sadsfae commented on #61
Hey @KnechtionsCoding I think this would be a great enhancement.  I do feel it should be optional and not the default however, configurable via ```install/group_vars/all.yml```.  The main reason is that most usage for this playbook is a very quick, easy-to-consume all in one deployment.

I've started thinking about this too and the best way to approach it without adding too much additional complex

[2017-12-22 13:38] knechtionscoding commented on #61
Let submit a PR with a quick mockup of what I had before when I did multinode setups and then we can chat about how to achieve it.

I think it can be achieved without a multi node branch. I think it could be configurable easily with the YAML options.

No problem. Glad to be contributing back when I use something in a professional capacity and can help out.

[2017-12-22 14:48] knechtionscoding commented on #61
Submitted #64 so we can continue the conversation of what the logic looks like. Once that is done the config files are easy.

[2018-02-21 14:06] sadsfae opened #65 "Heap Size is no longer automatically tuned"
Elastic has changed the way they set min/max heapsize, we typically want to make heapsize 1/2 of your memory up to 32G.  Previously this was done via ```/usr/share/elasticsearch/bin/elasticsearch.in.sh```

Now this is done via ```/etc/elasticsearch/jvm.options```

https://www.elastic.co/guide/en/elasticsearch/guide/current/heap-sizing.html

[2018-02-21 14:21] #65 closed

[2018-02-22 11:53] sadsfae opened #66 "Upgrade to 6.2, Maintain 5.6+ Branch"
This should track the upgrade of the playbook to the latest 6.x series of Elasticsearch, Logstash and Kibana.

I am in the process of getting ELK 6.2.x+ to work but have hit a few bugs.  I've managed to workaround a few of them and I will go back and file bug reports but stuck on one particular logstash bug:

https://github.com/logstash-plugins/logstash-input-beats/issues/188
https://github.com/el

[2018-02-22 11:56] sadsfae commented on #66
Once I have gotten through the issues above, or relevant fixes have been merged upstream and the 6.x can be deployed in a repeatable, idempotent fashion without breaking any of the other features/functionality we currently have with 5.6.x (current master) I plan on the following changes:

* Make the current 5.6+ branch **5.6**
* Make 6.2.x the new **master**.

The final landscape should look like

[2018-02-22 12:11] sadsfae commented on #18
I am folding this issue into the existing discussion and work here:

https://github.com/sadsfae/ansible-elk/issues/61

[2018-02-22 12:11] #18 closed

[2018-04-05 15:47] sadsfae commented on #66
Update here, this is reported to be fixed in ```logstash-input-tcp``` plugins upstream:

https://github.com/logstash-plugins/logstash-input-tcp/pull/113

I have not gotten a chance to resume this yet due to travel and family issues.

[2018-04-20 22:01] arunvsankar commented on #10
It would be great if we have the Ubuntu support as this is found more stable in production systems and more supported on certain applications than Linux or CentOS

[2018-04-25 08:36] MrMEEE opened #67 "Missing dependencies"
Hi

I tried running your playbook against a minimal install RHEL7, enabling Fluentd.... and it fails because it can't build the elasticsearch fluentd plugin gem...

gcc and make was missing.. after installing these packages everything seems to work...

[2018-04-25 09:12] MrMEEE commented on #67
After some more investigation, only gcc is needed... make is already there..

[2018-04-25 09:25] MrMEEE opened #68 "Unable to fetch mapping. Do you have indices matching the pattern?"
Hi

After installation (enabling fluentd)..

I get this screen
![screenshot_20180425_112442](https://user-images.githubusercontent.com/768031/39237287-53c2dd18-487b-11e8-97fb-37046f2e32f3.png)

Can't push the dropdown.. what's wrong???

[2018-04-25 09:31] MrMEEE commented on #68
Forget it.. it was because I didn't have any clients... the logstash-* didn't exist...

[2018-05-07 22:01] sadsfae opened #69 "logstash-input-udp is broken on 5.6.9"
I've noticed that the ```logstash-input-udp``` plugin is broken on the latest logstash, the workaround for this is to update the plugin manually:

[code]

Related:

https://discuss.elastic.co/t/unable-to-fetch-mapping-do-you-have-indices-matching-the-pattern/844/10

I expect this to fix itself when Logstash gets updated from the current Elastic RPM repositories but I'm going to bake a fix into the

[2018-05-07 22:04] sadsfae commented on #67
Thanks for reporting this, fix coming shortly.

[2018-05-07 22:04] #67 closed

[2018-06-23 23:59] sadsfae opened #70 "Use handlers for iptables-services firewall code"
It's better to use handlers to only restart iptables in the `firewall` role so that we only bounce iptables service if a new rule is added.

[2018-06-24 00:44] #70 closed

[2018-08-10 16:20] jimb0bmij commented on #66
How is this coming along? Have you updated to version 6.x of ELK?

[2018-08-13 08:19] sadsfae commented on #66
I think it's mostly ready I just need time to test it.  I imagine it'll be
shaped up and pushed as the new master branch sometime in October when I
return from vacation if not sooner.

On Fri, Aug 10, 2018 at 6:20 PM, Jim McCann <notifications@github.com>
wrote:

[2018-10-05 16:06] crossan007 opened #71 "Installed version of Curator does not match configuration"
The Curator repo file installs version 3: https://github.com/sadsfae/ansible-elk/blob/849a9facd0ad923f4b114314ffe12f21a71946ef/install/roles/curator/files/curator.repo

Curator version 3 does not have a `--config` cli parameter. This parameter is referenced in the cron job.

Likely, Curator version 5 should be installed:
https://www.elastic.co/guide/en/elasticsearch/client/curator/current/yum-repo

[2018-10-06 14:48] sadsfae commented on #61
It's been a while since there's been an update here.  I am still planning on getting this implemented it will just need to come second after https://github.com/sadsfae/ansible-elk/issues/66 (Upgrade to 6.4+).

Some notes on multi-node architecture (borrowed from a friend who works at Elastic):

_Ideal design is 3 master-eligible nodes and set ```minimum_master_nodes``` to 2
and number of data node

[2018-11-15 09:23] devantoine commented on #66
Hi,

Any update on this? Do you need help?

[2018-11-15 17:40] sadsfae commented on #66
Hey @devantoine thanks for offering I've just been really busy.  I am already about 90% there but had to pause due to other activities going on in and out of work.  I have started to pick this back up again though!  I don't think it'll be much longer.

[2018-11-15 18:50] sadsfae commented on #71
Thanks for filing this, I've corrected the repo.  `--config` still seems to work via:

[code]

[2018-11-16 02:08] sadsfae commented on #66
So an update here, I'm hitting an issue with filebeat and pushing simple logs on `logstash-6.5.0-1` and I've run out of time for now to debug.  It looks similar to [this issue however](https://discuss.elastic.co/t/logstash-errors-after-upgrading-to-filebeat-6-3-0/135984).

This caused by [a breaking change](https://github.com/elastic/beats/issues/7368) introduced into `filebeat 6.3.0` in the `host

[2018-11-16 15:28] sadsfae commented on #71
Please re-open if this is an issue, it works for me.  Thank you.

[2018-11-16 15:38] devantoine commented on #66
Well done, thank you sir!

[2018-11-16 16:13] sadsfae commented on #47
@KnechtionsCoding I don't think this is an issue anymore as of `6.x` because dashboards are uploaded via the Kibana API.  Probably this can be closed?

[2018-11-18 00:46] knechtionscoding commented on #47
Absolutely!

[2018-11-18 00:46] #47 closed

[2018-11-29 06:55] gitmkc opened #73 "TASK [logstash : Load filebeat JSON index template]"
I am getting below error in logstash.
fatal: [elkserver]: FAILED! => {"attempts": 30, "changed": false, "content": "", "msg": "Status code was -1 and not [200]: Request failed: <urlopen error [Errno 111] Connection refused>", "redirected": false, "status": -1, "url": "http://localhost:9200/_template/filebeat?pretty"}

[2018-12-05 07:59] JSIDELIVERETH commented on #10
+1 for Ubuntu, for the client installation.

[2018-12-07 10:59] kcxg opened #74 "Couldn't find any Elasticsearch data"
when i start kibana and looking in management tab it is displaying message :
"Couldn't find any Elasticsearch data
You'll need to index some data into Elasticsearch before you can create an index pattern "

[2018-12-07 14:38] sadsfae commented on #10
I think a reasonable approach here is to first start with ubuntu client support for

While this definitely isn't true (and Ubuntu is Linux) I think a good first step is to provide Ubuntu client support (for clients / beats).  Actual Ubuntu/Debian support for ELK/EFK may come later, depending on any LSB differences in configuration files.

I'll need to setup a few testing Debian/Ubuntu VMs to get t

[2018-12-07 14:44] sadsfae commented on #74
Hi @kcxg are you following the post-setup steps to create an index pattern first before hand?

https://github.com/sadsfae/ansible-elk/#create-your-kibana-index-pattern

If so what does this report from your ELK node?

[code]

[2018-12-07 14:55] sadsfae commented on #73
Hey @gitmkc I'm not able to reproduce this, the specific Playbook line that runs this is:

https://github.com/sadsfae/ansible-elk/blob/master/install/roles/logstash/tasks/main.yml#L76

It works fine for me:

[code]

Typically this will fail if Elasticsearch isn't up and running yet, this can take some time on slower systems which is why we have 30 attempts.  What kind of resources does your ELK ho

[2018-12-07 14:56] sadsfae commented on #22
I'm closing this for now, the dependent issue on journalbeat is still not resolved to proceed with implementing this here.  When it is I'll happily look at it again.

[2018-12-07 14:56] #22 closed

[2018-12-07 15:11] kcxg commented on #74
I  followed the post-setup steps to create an index pattern first before hand

`$curl -GET http://localhost:9200/_cat/indices

green open .kibana_1 n7-42WjmTfyZn5uHvH0qoA 1 0 174 9 260.3kb 260.3kb
`

[2018-12-07 16:01] sadsfae commented on #74
Ok, that looks good.  When you created the Index pattern you should be using `logstash-*` as the name for logstash to properly send data, I don't see that there - can you try creating that under **management** --> **Kibana Index Patterns**

Mine looks like this after adding a `logstash-*` pattern, clicking next, selecting `@timestamp` and create index.

![screenshot_2018-12-07_15-59-24](https://us

[2018-12-07 16:18] kcxg commented on #74
I add  a  logstash-* pattern but  cant  click next
![image](https://user-images.githubusercontent.com/31840413/49659145-7f197c00-fa7e-11e8-9760-c7a2dd347e08.png)

I installed it twice and had the same problem.

[2018-12-07 16:39] kcxg commented on #74
I just went to the bathroom, and after I came back,  one is  succeeded. Thank you  very much!

[2018-12-07 21:25] sadsfae commented on #74
Hey, cool!  Sometimes it takes a while on lower-end systems or low cpu/memory for it all to instantiate.  Are you sorted now?

Yeah, the logstash portions of the playbook need to create the logstash-* index (based on using rsyslog method of sending the ELK system logs itself to ELK to create them).

[2018-12-07 23:40] sadsfae commented on #74
Closing this out now, re-open if you still have a problem.

[2018-12-07 23:40] #74 closed

[2019-03-05 12:06] sadsfae opened #75 "Update Filebeat logging locations to pickup Containerized OpenStack"
I've gotten a request for updating the filebeat logging locations to pick up containerized OpenStack components.

[2019-03-05 12:15] #75 closed

[2019-03-05 18:59] derekslenk opened #76 "Default install doesn't work on CentOS 7.6"
Followed the install instructions, but when going to kibana to try and make an index pattern, it is not finding any logstash sources. I only installed the server but in your instructions it looks like I should see some data from the local server.

Any help would be appreciated.

[root@elk-centos ~]# cat /etc/centos-release
CentOS Linux release 7.6.1810 (Core)

[2019-03-06 14:01] somabc commented on #76
I just carried out a CentOS 7.6.1810 install and logstash shows up immediately.

Are you sending data to the host?

If you go to install/group/vars/all.yml

and modify

#Install Metricbeat
install_metricbeat: true
#This should be installed on only one server in your environment.
#Install Heartbeat
install_heartbeat: true

You will be sending data from your host into elasticsearch.

[2019-03-08 22:50] derekslenk commented on #76
I have tried enabling heartbeat and metricbeat, and still it looks like nothing is being logged from the localhost.

I am going to try removing curator and if that doesn't work. I will just create my VM again I guess

[2019-03-09 01:32] derekslenk commented on #76
Here are the groupvars I had set:
[code]

[2019-03-11 18:05] somabc commented on #76
That looks good.

You don't need to specify logging_backend: logstash  as it will assume logstash but there is no harm including it. The only other thing I can see is you have syslog turned on for logstash. As a test I would try having this as false. syslog_listen_external: false

Then install again and check logstash is listening on port 5044 after the install with sudo netstat -tuplen| grep logs

[2019-03-11 20:49] derekslenk commented on #76
I am doing a fresh install/fresh checkout - only changing the hosts and packetbeat,metricbeat,and heartbeat. Still no luck.

It does work if I install the client locally to itself. Is that assumed that I am installing the client to the same server as the host?

[2019-03-11 21:39] derekslenk commented on #73
I can reproduce this error. While installing fluentd with rsyslog, this error happens:

[code]

[2019-03-19 20:35] crossan007 opened #77 "Use Apache for Reverse Proxy to support LDAP auth"
Apache provides better(?) support for LDAP authentication, and also provides a pass-through proxy mode.  I couldn't seem to get the NGINX LDAP auth to work (additional compiled, possibly non-free, modules were required)

Would you welcome a pull request adding an optional Apache role instead of NGINX?

I'm currently running Apache with LDAP against an on-site Active Directory for proxying Kibana d

[2019-03-26 15:28] elsharify opened #78 "Elasticsearch data and log directory"
Dear Will,
Why can't the data and logs be saved on /var directory instead of /usr/share directory.
Below lines from the file: install/roles/elasticsearch/tasks/main.yml

- name: Create log directory structure for ES
  file:
    path: /usr/share/elasticsearch/logs
......
- name: Create datadir for elasticsearch
  file:
    path: /usr/share/elasticsearch/data
....

[2019-04-26 07:28] sadsfae commented on #78
Hey @elsharify I'm just using what Elastic sets as their defaults outlined here:

https://www.elastic.co/guide/en/elasticsearch/reference/2.0/setup-dir-layout.html

This can certainly be changed but you'd need to edit it in the playbook elastic search jinja2 template/config prior to deploying (Elastic looks for things in these locations unless told otherwise).

https://github.com/sadsfae/ansible-e

[2019-04-26 07:29] sadsfae commented on #77
Hey @crossan007 that's a great idea, thanks for filing this.  Apache is indeed a better choice when relying on having more reverse proxy functionality as it has so many more modules for this.

I can work on adding this but a PR is also happily accepted.

[2019-04-26 07:39] sadsfae commented on #76
Logstash can sometimes take a while to startup but your initial seed of system logs should come from the Elastic host itself (via local rsyslog)

https://github.com/sadsfae/ansible-elk/blob/master/install/roles/kibana/tasks/main.yml#L189

This is **not done** when using fluentd for the local Elastic host (as we'd expect fluentd to populate this instead).  It's been a while since I've tested a full

[2019-04-26 07:42] sadsfae commented on #73
It's been a while since I've tested the full EFK deployment on CentOS, looks like you also have what could be a fluentd-related issue here too:  https://github.com/sadsfae/ansible-elk/issues/76

If this is still occurring I'll probably notice it when testing out issue #76 also.

[2019-04-26 21:14] crossan007 commented on #77
I'll make a PR sometime next week.

I'm using a fork of this repo with Apache and ldap auth in production :-)

I should be able to cherry pick the relevant bits to a branch here.

[2019-04-29 11:52] sadsfae commented on #77
Hey, that's awesome.  I would normally do this via https://github.com/sadsfae/ansible-elk/blob/master/install/group_vars/all.yml variable and leaving nginx the default.

From there you can use the `when` conditional in the playbook like:

https://github.com/sadsfae/ansible-elk/blob/master/install/elk.yml#L17

Looking forward to the PR, if you get really busy I'm happy to knock it out also - much a

[2019-06-07 15:08] sadsfae commented on #77
@crossan007 I've got all the changes for this working except for the Apache vhost / ProxyPass stuff.  Do you have an example you can share?

[2019-06-07 15:39] sadsfae commented on #77
Nevermind, I got it working - patch coming soon.

[2019-06-07 16:28] #77 closed

[2019-06-07 17:59] #78 closed

[2019-06-09 17:05] sadsfae opened #79 "Fixes needed for heartbeat service"
Heartbeat service needs some fixes, the service name has changed to `heartbeat-elastic`.

Further, we should be removing old filebeat TLS keys/certs if they already exist - this will keep them updated from whatever is served from the current ELK/EFK server.

[2019-06-09 17:23] #79 closed

[2019-06-09 17:23] sadsfae commented on #76
Update here, I found some time and tried a fresh deployment on the latest CentOS7 and noticed there are some issue with the following things enabled:

[code]

This has now been fixed here:

https://github.com/sadsfae/ansible-elk/issues/79
https://github.com/sadsfae/ansible-elk/commit/d2bbfe4b16db299a536338eb082906cc88b86827

Things work fine for me now with the same options you have above, give it

[2019-07-05 16:26] yasirsharif commented on #78
Dear @sadsfae,
Sorry for late response.
The doc you have mentioned is an outdated document, the recent one is:
[https://www.elastic.co/guide/en/elasticsearch/reference/current/rpm.html#rpm-layout](https://www.elastic.co/guide/en/elasticsearch/reference/current/rpm.html#rpm-layout)

[2019-08-04 01:51] #76 closed

[2019-08-04 01:51] #73 closed

[2019-10-10 07:08] zhihaogitup opened #81 "a question from fish"
I have a problem, this problem happened in "Enable logstash service", I can not find the relevant information, I wonder if you can help me answer，log：“Could not find the requested service logstash: host”

[2019-10-12 15:24] sadsfae commented on #81
Hi @zhihaogitup can you run the playbook via `ansible-playbook -vvv` and [paste the run logs to pastebin](https://paste.fedoraproject.org/)?  That will help us better understand what the problem is.

[2019-10-21 22:52] harrytruman commented on #81
Huh. I'm hitting the same thing on an unrelated project. It's not an Ansible problem, I don't believe. I'm installing the latest Logstash 7.4, and I've tried the packages from both the yum repo and by downloading/installing manually. Same thing:
[code]

[2019-10-23 17:00] sadsfae commented on #81
Occasionally the upstream packaging breaks, this wouldn't be the first time.  I'll try a fresh deployment and report back when I find some time.

[2019-10-23 18:39] harrytruman commented on #81
@sadsfae A fresh deploy solved the problem. If not, this certainly will...

```/usr/share/logstash/bin/system-install /etc/logstash/startup.options systemd```

[2019-11-09 17:21] sadsfae opened #84 "[RFE] Add Support for Fedora and EL8 ELK Clients"
We need to add support for EL8 and Fedora systems which mostly just means moving to the `dnf` module instead of `yum`

[2019-11-09 17:37] sadsfae commented on #81
I just did a full, fresh deployment on CentOS7 today and had no issues either, closing this out.

[2019-11-09 17:37] #81 closed

[2019-11-09 17:39] #84 closed

[2019-11-14 16:27] sadsfae opened #86 "[RFE] Modernize Firewall code"
Now that the Ansible firewall landscape has matured a bit it'd be nice to modernize the firewall code.

https://docs.ansible.com/ansible/latest/modules/firewalld_module.html

Probably, we can remove `iptables-services` support.

[2019-11-15 16:59] sadsfae opened #87 "Disable IPv6 until it works with logstash/syslog UDP"
It appears that some EL-based systems may opt to send rsyslog data over IPv6 to logstash, but logstash rsyslog listener can't accept this data.

reference:

https://github.com/logstash-plugins/logstash-input-syslog/issues/42

[2019-11-15 17:04] #87 closed

[2019-12-09 17:38] sadsfae opened #90 "Fix Nginx IPv4 Listener and Logstash Handler Typo"
Some folks have reported that with the recent disabling of IPv6 to work around the logstash filebeat plugin https://github.com/sadsfae/ansible-elk/issues/87 Nginx has issues listening with the default settings (both IPv6 and IPv4 are specified).

Also, there is a typo in the `restart Network` handler for logstash that needs to be fixed.

[2019-12-09 17:56] #90 closed

[2020-05-14 01:31] jpnorenam opened #96 "ansible python interpreter error for Fedora 30"
Adding the following line to `install/group_vars/all.yml`:
`ansible_python_interpreter: /usr/bin/python3`
 solves the following error:
`"Error: Unable to find a match: python2-dnf"`

[2021-02-05 15:20] japplewhite opened #97 "Import ElasticSearch GPG Key fails on elk client role"
**Your System Details**

**Describe the bug**
When the elk client role runs it fails on installing the GPG key for elastisearch
Making the following change fixed the issue
 #rpm_key: key=http://packages.elastic.co/GPG-KEY-elasticsearch
  rpm_key: key=https://artifacts.elastic.co/GPG-KEY-elasticsearch

[2022-04-03 16:30] sadsfae commented on #97
Thanks for filing this @japplewhite.  These seem like they same files and are both accessible, wonder if there's a benefit to one or the other.  It's been a while but I'll experiment with this and see if it's still a problem.